.container {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 30%;
    margin-top: 10%;
    width: 300px;
    gap: 20px;
}
input , textarea{
    text-align: center;
    align-content: center;
}
button{
    cursor: pointer;
}